<style>
  .l{
    height: 400px;  
  }
  .h{
    height: 300px;
  }
.bl{
 

}
</style>
<br>
<div class="row">
   {{#each menu}}
  <div class="bl col s6 m4 h4 l3 ">
    <a href="{{this.link}}">
      <div class="card">
        <div class="card-image">
          <img src="img/{{this.pic}}">
        </div>
        <div class="card-content">
          <p>{{{this.text}}}</p>
        </div>

      </div>    
    </a>
  </div>
  {{/each}}
</div>

<!-- <div class="row">
    {{#each menu}}
      <div id="block" class="col s6 m4 h4 l3">
                <a href="{{this.link}}">
                <img class="responsive-img center center-align" src="img/{{this.pic}}"> 
                <p class="flow-text center-align center" style="">{{this.text}}</p>    
                </a>
            </div> 
    {{/each}}
</div> -->
